<h1 class="current-category" style="font-weight: bold;">Similar users to you</h1>

<div class="row">

    <% @orders = current_reader.orders.all %>

    <% @friendships.each do |friendship| %>

        <% @reader = Reader.find(friendship.friend_id) %>

        <% @similarity = friendship.similarity.to_i%>

            <!-- Friend Bar -->

            <div class="col-md-6">

                <br><br>

                <% if @suggested_orders.any? {|orders| orders.reader_id == @reader.id } %>

                    <div class="col-md-12 col-md-offset-1">

                        <div class="friend-bar">
                            <div class="friend-image">
                                <div class="donut">    
                                    <%= pie_chart [["Match", @similarity], ["", 100-@similarity]], donut: true, library: {animation: {easing: 'easeOutQuad'}, backgroundColor: "transparent", elements: {arc: {borderWidth: 0}}},legend: false, width: "85px", height: "85px", colors: ["#52f2a7","transparent"] %>
                                </div>
                                <h6 class="similarity-text"><%=@similarity%>% Match</h6>
                                <%= image_tag @reader.avatar, class: "avatar-friend" %>
                            </div>
                            <div class="friend-bar-text">
                                <h3 class="friend-name"><%= @reader.name %>'s</h3>
                                <p class="friend-name">Top recommendations for you</p>
                            </div>
                        </div>
                    
                        <br>

                    </div>
            
                    <div class="col-md-12 col-md-offset-1" style="margin-bottom: 10px;">

                        <% @suggested_orders.each_with_index do |order, index| %>

                            <% if order.reader_id == @reader.id %>
                    
                                <% @article = Article.find(order.article_id) %>
                    
                                <div class="col-md-3 article-box-history" onclick="location.href='/articles/<%= @article.id %>';" style="cursor: pointer;">
                                    <a href="/articles/<%= @article.id %>" class="a-article">
                                        <%= image_tag @article.img_src, class: "article_img-history", style:"margin-top:14px;" %>
                                    </a>
                                    <h6 class="article-headline-history"><%= @article.headline %></h6>
                                    <div class="article-mini-date" style="width: 85%; position: absolute; bottom: 7px; text-transform: uppercase; font-size: 14px; color:gray;">
                                        <div style="font-size: 10px; text-align:center;">
                                            <% if @ranks[index] >= 30 %>
                                                <span style="color: #0ce87b; float: right; text-transform: capitalize;"><b>Suggested</b></span>
                                            <% elsif @ranks[index] < 30 && @ranks[index] >= 15 %>
                                                <span style="color: #e8c70c; float: right; text-transform: capitalize;"><b>Suggested</b></span>
                                            <% elsif @ranks[index] < 15 %>
                                                <span style="color: #e86f0c; float: right; text-transform: capitalize;"><b>Suggested</b></span>
                                            <% end %>
                                        </div>
                                    </div>
                    
                                </div>
                    
                            <% end %>        
                        
                        <% end %>

                    </div>

                <% end %>

            </div>

    <% end %> 

</div>