
<!-- Left Column -->

<div class="col-md-6 article-history-left-panel">

    <h1 class="current-category">History</h1>

    <!-- Read Today articles -->

    <% if @grouped_orders.present? && @grouped_orders[true].present? %>
    
        <div class="col-md-12" style="margin-bottom: 10px;">

            <h4> Today </h4>

            <% @grouped_orders[true].take(4).each do |order| %>

                <div class="col-md-3 article-box-history" onclick="location.href='/articles/<%= Article.find(order.article_id).id %>';" style="cursor: pointer;">
                    <a href="/articles/<%= Article.find(order.article_id).id %>" class="a-article">
                        <%= image_tag Article.find(order.article_id).img_src, class: "article_img-history", style: "margin-top: 14px;" %>
                    </a>
                    <h6 class="article-headline-history"><%= Article.find(order.article_id).headline %></h6>
                </div>

            <% end %> 

        </div>

    <% end %>

    <!-- Day wise grouped articles -->

    <% if @day_wise_sorted_orders.present? %>

        <% @day_wise_sorted_orders.each do |hash_elements|%>

            <div class="col-md-12" style="margin-bottom: 10px;">

                <h4> <%= hash_elements.first %> </h4>

                <% hash_elements.last.take(4).each do |order| %>

                    <div class="col-md-3 article-box-history" onclick="location.href='/articles/<%= Article.find(order.article_id).id %>';" style="cursor: pointer;">
                        <a href="/articles/<%= Article.find(order.article_id).id %>" class="a-article">
                            <%= image_tag Article.find(order.article_id).img_src, class: "article_img-history", style:"margin-top: 14px;" %>
                        </a>
                        <h6 class="article-headline-history"><%= Article.find(order.article_id).headline %></h6>
                       
                    </div>
                    
                <% end %> 

            </div>

        <% end %>

    <% end %>

</div>

<!-- Right Column -->

<div class="col-md-6 article-history-right-panel">
    
    <h1 class="current-category">Liked Articles</h1>

    <% @liked_articles.take(8).each do |article| %>

        <div class="col-md-3 article-box-history" onclick="location.href='/articles/<%= article.id %>';" style="cursor: pointer;">
            <a href="/articles/<%= article.id %>" class="a-article" >
                <%= image_tag article.img_src, class: "article_img-history", style:"margin-top: 14px;" %>
            </a>
            <h6 class="article-headline-history"><%= article.headline %></h6>
        </div>

    <% end %>

</div>
