<% if !@articles.empty? %>

    <h1 class="current-category" style="font-weight: bold;">Picked Articles just for 
        <strong class="red-word">You
        </strong>
    </h1>    

    <div class="row justify-content-center">

        <% @articles.where("rank > ?", 25).order(created_at: :desc, rank: :desc).each do |article| %>

            <% unless @orders.find_by(article_id: article.id) %>

                <div class="col-md-3 col-md-offset-1 article-box" onclick="location.href='/articles/<%= article.id %>';" style="cursor: pointer;">
                    <a href="/articles/<%= article.id %>" class="a-article">
                        <%= image_tag article.img_src, class: "article_img" %>
                    </a>
                    
                    <h4 class="article-headline"><%= article.headline %></h4>

                    <div class="article-mini-date" style="width: 85%; position: absolute; bottom: 7px; text-transform: uppercase; font-size: 14px; color:gray;">
                        <div style="font-size: 12px; text-align:center;">
                            <span style="float:left;"><%= Category.find(article.category_id).name %></span>
                            <% if article.rank >= 50 %>
                                <span style="color: #0ce87b; float: right; text-transform: capitalize;"><b><%= article.rank.to_i %>% Match</b></span>
                            <% elsif article.rank < 50 && article.rank >= 30 %>
                                <span style="color: #e8c70c; float: right; text-transform: capitalize;"><b><%= article.rank.to_i %>% Match</b></span>
                            <% elsif article.rank < 30 %>
                                <span style="color: #e86f0c; float: right; text-transform: capitalize;"><b><%= article.rank.to_i %>% Match</b></span>
                            <% end %>
                            <% if article.created_at > current_reader.last_sign_in_at %>
                                <span style="color: #f81848;"><i class="fab fa-hotjar"></i> New</span>
                            <% end %>
                        </div>
                    </div>
                </div>

            <% end %>

        <% end %>

    </div>

<% else %>

    <h1 class="current-category" style="font-weight: bold;">Start reading some articles</h1>   
  
<% end %>

