<% if params[:category].blank? %>
    <h1 class="current-category" style="font-weight: bold;">Picked Articles just for 
        <strong class="red-word">You
        </strong>
    </h1>    
<% end %>

<h1 class="current-category" style="font-weight: bold;"><%= params[:category] %></h1>
<div class="row justify-content-center">

    <% @articles.each do |article| %>

        <div class="col-md-3 col-md-offset-1 article-box" onclick="location.href='/articles/<%= article.id %>';" style="cursor: pointer;">
            <a href="/articles/<%= article.id %>" class="a-article">
                <%= image_tag article.img_src, class: "article_img" %>
            </a>
            
            <h4 class="article-headline"><%= article.headline %></h4>

            <p class="article-mini-date" style="position: absolute; bottom: 0px; text-transform: uppercase; font-size: 14px; color:gray;">
                <%= Category.find(article.category_id).name %>
            </p>
        </div>

    <% end %>

</div>


<% if params[:category] == "Top Trending" %>
    
    <h1 class="current-category" style="font-weight: bold;">Most Liked</h1>
    <div class="row">

        <% @most_liked_articles.each do |liked_article| %>

            <div class="col-md-3 article-box" onclick="location.href='/articles/<%= liked_article.id %>';" style="cursor: pointer;">  
                <a href="/articles/<%= liked_article.id %>" class="a-article">
                    <%= image_tag liked_article.img_src, class: "article_img" %>
                </a>
                <h4 class="article-headline"><%= liked_article.headline %></h4>
            </div>

        <% end %>

    </div>

<% end %>