<% if params[:category].blank? %>
    <h1 class="current-category" style="font-weight: bold;">All Articles</h1>    
<% end %>

<h1 class="current-category" style="font-weight: bold;"><%= params[:category] %></h1>
<div class="row justify-content-center">

    <% @articles.each do |article| %>

        <div class="col-md-3 col-md-offset-1 article-box" onclick="location.href='/articles/<%= article.id %>';" style="cursor: pointer;">
            <a href="/articles/<%= article.id %>" class="a-article">
                <%= image_tag article.img_src, class: "article_img" %>
            </a>
            
            <h4 class="article-headline"><%= article.headline %></h4>
            
            <div class="article-mini-date" style="width: 85%; position: absolute; bottom: 0px; text-transform: uppercase; font-size: 14px; color:gray;">
                <p>
                    <%= Category.find(article.category_id).name %>
                    <% if @orders.find_by(article_id: article.id) %>
                        <span style="color: #8c18f8; float: right;"><i class="fas fa-check-circle"></i> Read</span>
                    <% end %>
                    <% if article.created_at > current_reader.last_sign_in_at && @orders.find_by(article_id: article.id).nil? %>
                        <span style="color: #f81848; float: right;"><i class="fab fa-hotjar"></i> New</span>
                    <% end %>
                </p>
            </div>

        </div>

    <% end %>

</div>


<% if params[:category] == "Top Trending" %>
    
    <h1 class="current-category" style="font-weight: bold;">Most Liked</h1>
    <div class="row">

        <% @most_liked_articles.each do |liked_article| %>

            <div class="col-md-3 article-box" onclick="location.href='/articles/<%= liked_article.id %>';" style="cursor: pointer;">  
                <a href="/articles/<%= liked_article.id %>" class="a-article">
                    <%= image_tag liked_article.img_src, class: "article_img" %>
                </a>
                <h4 class="article-headline"><%= liked_article.headline %></h4>
            </div>

        <% end %>

    </div>

<% end %>