<% if params[:category].blank? %>
    <h1 class="current-category" style="font-weight: bold;">Picked Articles just for 
        <strong class="red-word">You
        </strong>
    </h1>    
<% end %>

<h1 class="current-category" style="font-weight: bold;"><%= params[:category] %></h1>
<div class="row">

    <% @articles.each do |article| %>

        <div class="col-md-3 article-box" onclick="location.href='/articles/<%= article.id %>';" style="cursor: pointer;">
            <h4 class="article-headline"><%= article.headline %></h4>
            <a href="/articles/<%= article.id %>" class="a-article">
                <%= image_tag article.article_img.url(:article_index), class: "article_img" %>
            </a>
            <p class="article-subheading"><%= article.subheading %></p>
        </div>

    <% end %>

</div>


<% if params[:category] == "Top Trending" %>
    
    <h1 class="current-category" style="font-weight: bold;">Most Liked</h1>
    <div class="row">

        <% @most_liked_articles.each do |liked_article| %>

            <div class="col-md-3 article-box" onclick="location.href='/articles/<%= liked_article.id %>';" style="cursor: pointer;">
                <h4 class="article-headline"><%= liked_article.headline %></h4>
                <a href="/articles/<%= liked_article.id %>" class="a-article">
                    <%= image_tag liked_article.article_img.url(:article_index), class: "article_img" %>
                </a>
                <p class="article-subheading"><%= liked_article.subheading %></p>
            </div>

        <% end %>

    </div>

<% end %>