<% if params[:category].blank? && params[:topic].blank? %>
    <h1 class="current-category" style="font-weight: bold;">All Articles</h1>    
<% end %>

<% unless params[:category] == "Top Trending" || !params[:topic].blank? %>
    <h1 class="current-category" style="font-weight: bold;"><%= params[:category] %></h1>
    <div class="row justify-content-center">

        <% @articles.each do |article| %>

            <% unless @orders.find_by(article_id: article.id) %>

                <div class="col-md-3 col-md-offset-1 article-box" onclick="location.href='/articles/<%= article.id %>';" style="cursor: pointer;">
                    <a href="/articles/<%= article.id %>" class="a-article">
                        <%= image_tag article.img_src, class: "article_img" %>
                    </a>
                    
                    <h4 class="article-headline"><%= article.headline %></h4>
                    
                    <div class="article-mini-date" style="width: 85%; position: absolute; bottom: 0px; text-transform: uppercase; font-size: 14px; color:gray;">
                        <p>
                            <%= Category.find(article.category_id).name %>
                            
                            <% if article.created_at > current_reader.last_sign_in_at && @orders.find_by(article_id: article.id).nil? %>
                                <span style="color: #f81848; float: right;"><i class="fab fa-hotjar"></i> New</span>
                            <% end %>
                        </p>
                    </div>

                </div>

            <% end %>

        <% end %>

    </div>
<% end %>


<% if params[:category] == "Top Trending" %>
    
    <div class="row" style="margin-left: 7px;">

        <h1 class="current-category" style="font-weight: bold;">Trending Now</h1>

        <div class="search">
            <%= form_tag(articles_path, method: :get, class:'navbar-form') do %>
                <div class="input-group" style="width: 300px;margin: 10px 0px 15px 15px;">
                    <%= text_field_tag :topic, "" ,class:"form-control pull-right", style:"border: 1px solid #c0c0c0; background-color: #ffffff;", placeholder: "Search for a topic" %>
                    <span class="input-group-btn">
                        <%= button_tag '', class:"btn btn-default", name: nil do %>
                            <span class="glyphicon glyphicon-search">
                                <span class="sr-only">Search</span>
                            </span>
                        <% end %>
                    </span>
                </div>
            <% end %>
        </div>

        <div class="col-md-4" style="margin-left: 0px;">
            
            <h3 style="margin-bottom: 30px;">Categories</h3>

            <% Category.order(preferencial_score: :desc).limit(5).each do |category|%>

                <div class="preference-box word-box" onclick="location.href='/articles?category=<%=category.name%>';">
                    <h4 class="preference-name category" style="color:#a33cf7"><%= link_to category.name, articles_path(category: category.name), class: "article-mini-preference", style: "font-weight: 400;" %></h4>
                </div>  

            <% end %>

        </div>

        <div class="col-md-4 col-md-offset-2" >

            <h3 style="margin-bottom: 30px;">Topics</h3>

            <% counter = 0 %>

            <% @trending.take(10).each do |topic| %>

                <% if @analyzer.trending(topic.first) %>

                    <div class="preference-box word-box" onclick="location.href='/articles?topic=<%=topic.first%>';">
                        <h4 class="preference-name category"><%= link_to topic.first, articles_path(topic: topic.first), class: "article-mini-category", style: "font-weight: 400;" %></h4>
                    </div>  

                    <% counter += 1 %>

                <% end %>

            <% end %>

            <% if counter == 0 %>
                    
                <h5> There are no trending topics at the moment. </h5>

            <% end %>

        </div>

    </div>

    <div class="row" style="margin-top: 50px; margin-left: 7px;">

        <h1 class="current-category" style="font-weight: bold;">Top Chart</h1>

        <div class="col-md-4" style="margin-left: 0px;">

            <h3 style="margin-bottom: 30px;">Topics</h3>

            <% @trending.take(10).each do |topic| %>

                <div class="preference-box word-box" onclick="location.href='/articles?topic=<%=topic.first%>';">
                    <h4 class="preference-name category"><%= link_to topic.first, articles_path(topic: topic.first), class: "article-mini-top", style: "font-weight: 400;" %></h4>
                </div>  

            <% end %>
    
        </div>
    </div>

<% end %>

<% if !params[:topic].blank? %>
    <h1 class="current-category" style="font-weight: bold;"><%= params[:topic] %></h1>
    <div class="row justify-content-center">

        <% @articles.uniq { |i| i.api_id }.each do |article| %>

            <% unless @orders.find_by(article_id: article.id) %>

                <div class="col-md-3 col-md-offset-1 article-box" onclick="location.href='/articles/<%= article.id %>';" style="cursor: pointer;">
                    <a href="/articles/<%= article.id %>" class="a-article">
                        <%= image_tag article.img_src, class: "article_img" %>
                    </a>
                    
                    <h4 class="article-headline"><%= article.headline %></h4>
                    
                    <div class="article-mini-date" style="width: 85%; position: absolute; bottom: 0px; text-transform: uppercase; font-size: 14px; color:gray;">
                        <p>
                            <%= Category.find(article.category_id).name %>
                            
                            <% if article.created_at > current_reader.last_sign_in_at && @orders.find_by(article_id: article.id).nil? %>
                                <span style="color: #f81848; float: right;"><i class="fab fa-hotjar"></i> New</span>
                            <% end %>
                        </p>
                    </div>

                </div>

            <% end %>

        <% end %>

    </div>
<% end %>