
<!-- ARTICLE -->

<div class="row row-article-content article-info">

    <!-- LEFT PANEL -->

    <div class="col-md-7 article-left-panel">
        <h2 style="padding-bottom: 10px;"><%= @article.headline %></h2>
        <%= image_tag @article.img_src, class: "article-show" %>
        <h4 style="font-weight: 500; padding-top: 10px; font-size: 17px;"><%= @article.subheading %></h4>
        <br>
        <h5> <%= @article.created_at.strftime("%A #{@article.created_at.day.ordinalize} %B, %Y ") %></h5>
        <br>
        <p class="article-body-text" style="font-size: 15px"> <%= @article.body_text %> </p>

        <br>
        
        <% if reader_signed_in? %>

            <%= link_to like_article_path(@article), class:"like-btn liked", method: :put, remote: :true do %>
                <button type="button" class="btn-like-custom" aria-label="Left Align">
                    
                    <% if current_reader.liked? @article %>
                        <span class="fas fa-heart" id="showhide-heart" aria-hidden="true"></span>
                    <% else %>    
                        <span class="far fa-heart" id="showhide-heart" aria-hidden="true"></span>
                    <% end %>
                    
                    <span class="likes-count" style="font-size: 15px; font-weight: 400;"><%= @article.cached_votes_score %></span>
                </button>
            <% end %>  

        <% end %>
        
    </div>

    <!-- MIDDLE SPACE -->

    <div class="col-md-1"></div>

    <!-- RIGHT PANEL -->

    <div class="col-md-3 related-articles-section" align="middle">
        <br><br>
        <h3>Related Articles</h3>

        <% @related_articles.each do |related| %>

            <div class="col-md-12 article-mini" align-self="middle">
                <div class="article-mini-img" onclick="location.href='/articles/<%= related.id %>';" style="cursor: pointer;">
                    <%= image_tag related.img_src, class: "article-rel" %>
                </div>
                <h5 class="article-mini-headline" onclick="location.href='/articles/<%= related.id %>';" style="cursor: pointer;" ><%= related.headline %></h5>
                <p class="article-mini-date">
                    <i class="far fa-clock"></i><span class="date"> <%= related.created_at.strftime("%d %B %Y") %></span> | 
                    <%= link_to @related_category, articles_path(category: @related_category), class: "article-mini-category", style: "font-weight: 400;" %>
                </p>
                
            </div>

        <% end %>

    </div>
</div>

<br><br>

<!-- ARTICLE STATS -->

<div class="row row-article-stats article-info">
    <div class="col-md-4 col-article-info" align="left">
        <p class="p-stats">Category: <strong><%= @article.category.name %></strong></p>
        <p class="p-stats">Keyword: <strong><%= @article.keyword %></strong></p>
    </div>

    <div class="col-md-8 col-article-stats" align="left">
        <p class="p-stats">Views: <strong><%= @article.views %></strong></p>
        <p class="p-stats">Likes: <strong class="article-stats-likes"><%= @article.cached_votes_up %></strong></p>
    </div>
</div>

<br><br>

<!-- NAVIGATION LINKS -->

<div class="links btn-group">

    <% if admin_signed_in? %>

        <%= link_to  "Edit", edit_article_path(@article), class: "btn btn-custom" %>
        <%= link_to  "Delete", article_path(@article), class: "btn btn-custom", method: :delete, data: { confirm: "Are you sure?" } %>    

    <% end %>

</div>

