
<!-- ARTICLE -->

<div class="row row-article-content">

    <!-- LEFT PANEL -->

    <div class="col-md-7 article-left-panel">
        <h2><%= @article.headline %></h2>
        <%= image_tag @article.article_img.url(:article_show), class: "article-show" %>
        <h4><%= @article.subheading %></h4>
    </div>

    <!-- MIDDLE SPACE -->

    <div class="col-md-1"></div>

    <!-- RIGHT PANEL -->

    <div class="col-md-3 related-articles-section" align="middle">
        <br><br><br>
        <h3>Related Articles</h3>

        <% @related_articles.each do |related| %>

            <div class="col-md-12 article-mini" align-self="middle">
                <%= image_tag related.article_img.url(:article_show), class: "article-rel" %>
                <h5 class="article-mini-headline" onclick="location.href='/articles/<%= related.id %>';" style="cursor: pointer;" ><%= related.headline %></h5>
                <p class="article-mini-date">
                    <%= related.created_at.strftime("%d %B %Y") %> | 
                    <%= link_to @related_category, articles_path(category: @related_category) %>
                </p>
                
            </div>

        <% end %>

    </div>
</div>

<br><br>

<!-- ARTICLE STATS -->

<div class="row row-article-stats">
    <div class="col-md-4 col-article-info" align="left">
        <p>CATEGORY: <strong><%= @article.category.name %></strong></p>
        <p>KEYWORD: <strong><%= @article.keyword %></strong></p>
    </div>
    <div class="col-md-8 col-article-stats" align="left">
        <p>VIEWS: <strong><%= @article.views %></strong></p>
        <p>LIKES: <strong><%= @article.likes %></strong></p>
    </div>
</div>

<br><br>

<!-- NAVIGATION LINKS -->

<%= link_to  "Back", root_path %>

<% if admin_signed_in? %>

    <%= link_to  "Edit", edit_article_path(@article) %>
    <%= link_to  "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>    

<% end %>

