<h1 class="current-category">Global Statistics</h1>

<br>

<h3>Readers (<%= @readers.count %>)</h3>

<div class="row row-readers">

    <% @readers.each do |reader| %>

        <!-- Reader Bar -->

        <div class="col-md-2 col-reader">

            <br><br>


            <div class="reader-bar" onclick="location.href='statistics/readers/<%= reader.id %>';" style="cursor:pointer;" >
                <%= image_tag reader.avatar, class: "avatar-friend" %>
                <div class="reader-bar-text">
                    <h3 class="reader-name"><%= reader.name %></h3>
                </div>
            </div>
            
            <br>
    

        </div>

    <% end %> 

</div>

<br>

<h3>Reading Frequency</h3><br>

<div class="col-md-12">

    <%= line_chart Reader.all.map { |reader|
        {name: reader.name, data: reader.orders.group_by_day(:created_at).count}
    }, legend: :left, ytitle: "Articles" %> <br><br>

</div>


<h3>Category Relevance</h3>
<p>(based on <b><%= @readers.count %></b> readers)</p>

<br>

<div class="col-md-12 col-preferences">

    <%= pie_chart @data, donut: true, legend: :left  %>

</div>

<h3>Topic Relevance</h3>

<br>

<div class="col-md-12 col-keywords">
    <%= bar_chart @keywords.group(:name).sum(:preferencial_score), colors: ["#93f", "#666"], min: 0, max: 100, width: "90%", height: "#{@heigth}px", xtitle: "Relevance (Global)", label: "Relevance"%>
</div>
