<div class="col-md-12 col-reader-statistics">

    <div class="reader-bar">
        <%= image_tag @reader.avatar, class: "avatar-friend" %>
        <div class="reader-bar-text">
            <h3>
                <h3 style="cursor:pointer; margin-bottom: 2px;">
                    <%= link_to  @reader.name, statistics_reader_path(@reader.id) %>
                </h3>
                <p>Preference: 
                    <strong class="purple-word">
                        <%=@preference.category%>
                    </strong>
                </p><br>
            </h3>
        </div>
    </div>

</div>

<br>

<h3>Total Articles Read: <%=@categorised_orders.count%></h3><br>

<br>

<div class="col-md-12">

    <%= line_chart @categorised_orders.group_by_day(:created_at).count, colors: ["#93f", "#666"], min: 0, max: @maxvalue, ytitle: "Articles", label: "Articles" %><br><br>

</div>

<h3>Topics in this Category: <%= @keywords.count %></h3><br>

<div class="col-md-12">

    <%= bar_chart @keywords.group(:name).sum(:preferencial_score), colors: ["#93f", "#666"], min: 0, max: 100, width: "90%", height: "#{@heigth+30}px", label: "Relevance" %> <br><br>

</div>

<h3>Reading Pattern for Topics</h3><br><br>

<div class="col-md-12">

    <% @set_of_keywords = @keywords.group(:id).order('max(relevance) DESC').limit(10)%>

    <%= line_chart @set_of_keywords.all.map { |keyword|
        {name: keyword.name, data: KeywordStatistic.where(keyword_id: keyword.id).group_by_day(:created_at).count}
    }, legend: :left %>

</div>


