<div class="col-md-12 col-reader-statistics">

    <div class="reader-bar">
        <%= image_tag @reader.avatar, class: "avatar-friend" %>
        <div class="reader-bar-text">
            <h3 class="reader-name" style="margin-bottom: 2px;"><%= @reader.name %></h3>
            <p>Preference: 
                <strong class="purple-word">
                    All
                </strong>
            </p><br>
        </div>
    </div>

</div>

<h3>Preference Set</h3><br>

<div class="col-md-12">

    <div class="col-md-12 col-keywords">

        <% @preferences.each do |preference| %>

            <div class="col-md-3 preference-box category-box">

                <h4 class="preference-name category" onclick="location.href='/statistics/readers/<%=@reader.id%>/preferences/<%=preference.id%>';" ><%= preference.category %> <span class="badge badge-light preference" style="margin: 5px;"><%= ((preference.relevance / @preferences.sum(:relevance).to_f) * 100).round(0) %>%</span></h4>

                <% preference.keywords.order(relevance: :desc).take(4).each do |keyword| %>

                    <div class="preference-box word-box" onclick="location.href='/statistics/readers/<%=@reader.id%>/preferences/<%=preference.id%>/keywords/<%=keyword.id%>';">
                        <h6 style="font-size: 11px;"><%= keyword.name[0..22]%> <span class="badge badge-light keyword" style="float: right;"><%= keyword.preferencial_score.to_i %></span></h6>
                    </div>          

                <% end %>

                <% unless (preference.keywords.count - 4) <= 0 %>

                    <div class="preference-box word-box" onclick="location.href='/statistics/readers/<%=@reader.id%>/preferences/<%=preference.id%>';">
                        <h6 style="font-size: 11px;"><u><%= (preference.keywords.count - 4) %> more keywords</u></h6>
                    </div>

                <% end %>

            </div>

        <% end %>

    </div>

</div>

<h3>Reading Pattern for Categories</h3><br><br>

<div class="col-md-12">
    <%= line_chart @preferences.all.map { |preference|
        {name: preference.category, data: @orders.where(category_id: Category.find_by(name: preference.category).id).group_by_day(:created_at).count}
    }, legend: :left, ytitle: "Articles" %> <br><br>
</div>

<h3>Suggestion Pattern</h3><br><br>

<div class="col-md-12">

    <%= line_chart @preferences.all.map { |preference|
        {name: preference.category, data: @articles.where(category_id: Category.find_by(name: preference.category).id).group_by_day(:created_at).count}
    }, legend: :left, ytitle: "Articles" %>


</div>