<!DOCTYPE html>
<html>
  <head>
    <title><%=@title%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/medium/logo3.png">
    
  </head>

  <body>

    <nav class="navbar navbar-default">

      <div class="container ">

        <% if reader_signed_in? || admin_signed_in? %>

          <div class="navbar-header">
            <img src="/assets/medium/logo3.png" alt="News App Logo" class="navbar-brand logo" onclick="location.href='/';" >
          </div>

          <% if reader_signed_in? %>

            <ul class="nav navbar-nav navbar-centre">
              <li class="<%=cp(root_path)%>-nav"> <%= link_to glyph(:heart) + " For Me", root_path %></li>
              <li class="<%=cp(articles_path)%>-nav"> <%= link_to glyph(:stats) + " Trending", articles_path(category: "Top Trending")%></li>        
              <li class="<%=cp(friends_path)%>-nav"> <%= link_to glyph(:star) + " Friends", friends_path %></li>
            </ul>

          <% else %>

            <ul class="nav navbar-nav navbar-centre">
              <li class="<%=cp(statistics_path)%>-nav"> <%= link_to glyph(:globe) + " Global Activity", statistics_path %></li>
              <li class="<%=cp(friends_path)%>-nav"> <%= link_to glyph(:misc) + " Misc" %></li>
            </ul>

          <% end %>

        <% else %>

          <div class="navbar-login">
            <img src="/assets/medium/logo3.png" alt="News App Logo" class="navbar-brand navbar-initial" onclick="location.href='/';" >
          </div>

        <% end %>

        <ul class="nav navbar-nav navbar-right">

          <!-- READER -->

          <% if reader_signed_in? %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-expanded="false">Categories <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% Category.all.each do |category| %>
                  <li class="<%= 'active' if params[:category] == category.name %>">
                    <%= link_to category.name, articles_path(category: category.name), class: "category-link" %>
                  </li>
                <% end %>
              </ul>
            </li>

            <div class="btn-group avatar-dropdown">
              <button type="button" class="btn btn-default dropdown-toggle avatar-button" data-toggle="dropdown" 
              aria-haspopup="true" aria-expanded="false">
                <%= image_tag current_reader.avatar, class: "avatar" %>
                <%= link_to current_reader.name, class: "avatar-name" %> 
              </button>

              <ul class="dropdown-menu" role="menu">

                <li><%= link_to glyph(:repeat) + " History", history_path %></li>
                <p></p>
                <li><%= link_to glyph(:pencil) + " Edit Profile", edit_reader_registration_path %></li>
                <p></p>
                <li><%= link_to glyph(:off) + " Log Out", destroy_reader_session_path, method: :delete %></li>

              </ul>
            
            </div>

          <% end %> 


          <!-- ADMIN -->

          <% if admin_signed_in? %>

            <li><%= link_to current_admin.name, edit_admin_registration_path %></li>
            <li><%= link_to  "Log Out", destroy_admin_session_path, method: :delete %></li>

          <% end %>

        </ul>

      </div>

    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <br><br>

  </body>
</html>
